<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

	<!-- Login Tab -->
	<ion-tab title="Login" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/login">
		<ion-nav-view name="login"></ion-nav-view>
	</ion-tab>

	<!-- Termine Tab -->
	<ion-tab title="Termine" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/dates">
		<ion-nav-view name="tab-dates"></ion-nav-view>
	</ion-tab>

	<!-- Menü Tab -->
	<ion-tab title="Men&uuml;" icon-off="ion-navicon" icon-on="ion-navicon-round" href="#/tab/menu">
		<ion-nav-view name="tab-menu"></ion-nav-view>
	</ion-tab>

</ion-tabs>
